.idea
/client/node_modules
/client/.editorconfig
/client/dist
/client/.gitattributes
/client/.prettierrc.json
/client/eslint.config.js
/client/jsconfig.json
/client/package-lock.json

/server/node_modules
/server/package-lock.json




